In [2]:
import pandas as pd
import numpy as np
df= pd.read_csv( r"C:\Users\User\Documents\GitHub\credit-risk-sentiment-nps\data\processed\processed_data_ready_to_analyze.csv")

In [ ]:
# Quality Check

In [4]:
# Summary of missing values
df.isnull().sum()

CLIENTNUM                                                                                                                                0
Attrition_Flag                                                                                                                           0
Customer_Age                                                                                                                             0
Gender                                                                                                                                   0
Dependent_count                                                                                                                          0
Education_Level                                                                                                                          0
Marital_Status                                                                                                                           0
Income_Category                                                                                                                          0
Card_Category                                                                                                                            0
Months_on_book                                                                                                                           0
Total_Relationship_Count                                                                                                                 0
Months_Inactive_12_mon                                                                                                                   0
Contacts_Count_12_mon                                                                                                                    0
Credit_Limit                                                                                                                             0
Total_Revolving_Bal                                                                                                                      0
Avg_Open_To_Buy                                                                                                                          0
Total_Amt_Chng_Q4_Q1                                                                                                                     1
Total_Trans_Amt                                                                                                                          1
Total_Trans_Ct                                                                                                                           1
Total_Ct_Chng_Q4_Q1                                                                                                                      1
Avg_Utilization_Ratio                                                                                                                    1
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1       1
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2       1
Attrition_Type                                                                                                                        8500
annual_income                                                                                                                         1112
monthly_income                                                                                                                        1112
DTI_ratio                                                                                                                             1112
Risk_Level                                                                                                                               0
Credit_Score                                                                                                                             0
Loan_Default_Flag                                                                                                                        0
Number_of_Defaults                                                                                                                       0
Last_Default_Date                                                                                                                     7873
Default_Amount                                                                                                                           0
Bankruptcy_History                                                                                                                       0
Bankruptcy_Flag                                                                                                                          0
Adjusted_Credit_Score                                                                                                                    0
Moodys_Rating                                                                                                                            0
DTI_Risk_Level                                                                                                                           0
Payment_History_Flag                                                                                                                     0
Payment_Risk                                                                                                                             0
dtype: int64

In [5]:
# Percentage of missing values
df.isnull().mean() * 100

CLIENTNUM                                                                                                                              0.000000
Attrition_Flag                                                                                                                         0.000000
Customer_Age                                                                                                                           0.000000
Gender                                                                                                                                 0.000000
Dependent_count                                                                                                                        0.000000
Education_Level                                                                                                                        0.000000
Marital_Status                                                                                                                         0.000000
Income_Category                                                                                                                        0.000000
Card_Category                                                                                                                          0.000000
Months_on_book                                                                                                                         0.000000
Total_Relationship_Count                                                                                                               0.000000
Months_Inactive_12_mon                                                                                                                 0.000000
Contacts_Count_12_mon                                                                                                                  0.000000
Credit_Limit                                                                                                                           0.000000
Total_Revolving_Bal                                                                                                                    0.000000
Avg_Open_To_Buy                                                                                                                        0.000000
Total_Amt_Chng_Q4_Q1                                                                                                                   0.009874
Total_Trans_Amt                                                                                                                        0.009874
Total_Trans_Ct                                                                                                                         0.009874
Total_Ct_Chng_Q4_Q1                                                                                                                    0.009874
Avg_Utilization_Ratio                                                                                                                  0.009874
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1     0.009874
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2     0.009874
Attrition_Type                                                                                                                        83.925750
annual_income                                                                                                                         10.979463
monthly_income                                                                                                                        10.979463
DTI_ratio                                                                                                                             10.979463
Risk_Level                                                                                                                             0.000000
Credit_Score                                                                                                                           0.000000
Loan_Default_Flag                                                                                                                      0.000000
Number_of_Defaults                                                                                                                     0.000000
Last_Default_Date                                                                                                                     77.734992
Default_Amount                                                                                                                         0.000000
Bankruptcy_History                                                                                                                     0.000000
Bankruptcy_Flag                                                                                                                        0.000000
Adjusted_Credit_Score                                                                                                                  0.000000
Moodys_Rating                                                                                                                          0.000000
DTI_Risk_Level                                                                                                                         0.000000
Payment_History_Flag                                                                                                                   0.000000
Payment_Risk                                                                                                                           0.000000
dtype: float64

In [3]:
df.describe()

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,annual_income,monthly_income,DTI_ratio,Credit_Score,Loan_Default_Flag,Number_of_Defaults,Default_Amount,Bankruptcy_Flag,Adjusted_Credit_Score
count,10128.000000,10128.000000,10128.000000,10128.000000,10128.000000,10128.000000,10128.000000,10128.000000,10128.000000,10127.000000,...,10127.000000,9016.000000,9016.000000,9016.000000,10128.000000,10128.000000,10128.000000,10128.000000,10128.000000,10128.000000
mean,46.326521,2.346465,35.928910,3.812599,2.342121,2.455075,8634.557178,1162.947769,7471.577814,0.759941,...,0.840003,62588.056122,5215.671344,30.904859,565.606833,0.222650,0.677626,2275.305247,0.100316,553.215837
std,8.016616,1.299112,7.986181,1.554332,1.015120,1.106440,9092.103865,815.058178,9093.547561,0.219207,...,0.365301,39408.597960,3284.049830,29.602640,156.832609,0.416046,1.432613,5008.536585,0.300436,160.976109
min,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,...,0.000420,20007.000000,1667.250000,0.000000,300.000000,0.000000,0.000000,0.000000,0.000000,300.000000
25%,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,360.000000,1324.750000,0.631000,...,0.999660,32557.000000,2713.083333,6.261208,429.750000,0.000000,0.000000,0.000000,0.000000,414.000000
50%,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.500000,3474.500000,0.736000,...,0.999820,50442.000000,4203.500000,24.714675,561.000000,0.000000,0.000000,0.000000,0.000000,544.000000
75%,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11070.250000,1784.000000,9861.750000,0.859000,...,0.999900,80154.250000,6679.520833,46.544294,695.000000,0.000000,0.000000,0.000000,0.000000,686.250000
max,73.000000,5.000000,56.000000,6.000000,12.000000,6.000000,35000.000000,2517.000000,34516.000000,3.397000,...,0.999990,199879.000000,16656.583333,150.967161,850.000000,1.000000,5.000000,19999.460000,1.000000,850.000000

In [ ]:
import pandas as pd
# df = pd.read_csv('your_data.csv')  # or pd.read_excel(), pd.read_sql(), etc.


# Percentage of missing values
df.isnull().mean() * 100


# Full row duplicates
df.duplicated().sum()

# Drop duplicates
df = df.drop_duplicates()


# Using IQR method for numeric columns
Q1 = df['annual_income'].quantile(0.25)
Q3 = df['annual_income'].quantile(0.75)
IQR = Q3 - Q1

outliers = df[(df['annual_income'] < Q1 - 1.5 * IQR) | (df['annual_income'] > Q3 + 1.5 * IQR)]
outliers

df.dtypes  # Make sure date columns are datetime, amounts are float, etc.

# Convert if needed
df['visit_date'] = pd.to_datetime(df['visit_date'])


# For categorical columns like gender or service_type
df['gender'].value_counts()
df['service_type'].unique()

# Check for invalid entries
invalid_services = df[~df['service_type'].isin(['Adult Day Care', 'Home Visit', 'Transportation'])]


# Negative billing
df[df['billed_amount'] < 0]

# EVV time rule
df[df['transport_time_minutes'] <= 0]


# !pip install ydata-profiling
!pip install ydata-profiling


from ydata_profiling import ProfileReport
profile = ProfileReport(df, title="Data Quality Report")
profile.to_file(r"C:\Users\User\Documents\GitHub\credit-risk-sentiment-nps\data\qa\data_quality_report.html")